{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 120,
  "endOfLine": "crlf",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "arrowParens": "always"
}
